{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">{{ product.title }}</h1>
            <p>{{ product.description }}</p>
            <p>{{ product.price }}</p>
            <a href="#">{{ product.user.first_name }} {{ product.user.last_name }}</a>
            <a href="#">{{ product.approved_by.username }}</a>
            {% if user.is_staff == 1 or user.is_superuser == 1 or product.user.username == user.username %}
            <a href="{% url 'edit_product' id=product.id %}">Edit</a>
            {% endif %}
        </div>
    </div>
{% endblock %}